{% extends "base.jinja2" -%}

{%- block body -%}
	<h1>{{ hello }}</h1>
	<p class="spread wrap">
		<a class="button" href="/settings">{{ settings }}</a>
		<a class="button" href="/servers">{{ servers }}</a>
	</p>
{%- endblock -%}
