{% extends "base.jinja2" %}

{% block title %}
	{{ title }} - {{ super() }}
{% endblock title %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="/static/servers.css" />
{% endblock styles %}

{% block head %}
	{{ super() }}
	<script>
	function toggle(element, ext, set) {
		let img = element.children[0].children[0];
		if (set) img.src = img.src.replace('.png', ext);
		else img.src = img.src.replace(ext, '.png');
	}
	</script>
{% endblock head %}

{% block body %}
	<h1>{{ title }}</h1>
	<p>{{ desc }}</p>
	<p class="spread wrap" id="servers-list">
		{% for id, (image, name, acronym) in servers.items() %}
		{% set ext = '.gif' if image and image.startswith('a_') else '.png' %}
		<a
			class="guild"
			href="/servers/{{ id }}"
			{% if ext != '.png' %}
			onmouseenter="toggle(this, '{{ ext }}', true);"
			onmouseleave="toggle(this, '{{ ext }}', false);"
			{% endif %}
		>
			<span>
				{% if image %}
				<img src="https://cdn.discordapp.com/icons/{{ id }}/{{ image }}.png?size=64" />
				{% else %}
				<span class="acronym" aria-hidden="true">{{ acronym }}</span>
				{% endif %}
				<span class="name">{{ name }}</span>
			</span>
		</a>
		{% endfor %}
	</p>
	<p class="spread">
		<a href="/" class="button">{{ back }}</a>
	</p>
{% endblock body %}
