{% extends "base.jinja2" %}

{% block title %}
	{{ title }} - {{ super() }}
{% endblock title %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="/static/toggle.css" />
	<link rel="stylesheet" href="/static/toast.css" />
	<link rel="stylesheet" href="/static/server.css" />
{% endblock styles %}

{% block head %}
	{{ super() }}
	<script src="/static/toast.js"></script>
	<script src="/static/server.js"></script>
{% endblock head %}

{% block body %}
	<h1>{{ title }}</h1>
	<p class="spread">
		<a href="/servers" class="button">{{ back }}</a>
	</p>
	<div class="spread" style="align-items: flex-start; margin-bottom: 1em;">
		<table>
			<tr>
				<th style="text-align: left;">{{ channel_th }}</th>
				<th>{{ lang_th }}</th>
				<th><select id="game-select" onchange="reveal_game(this.value)">
					{% for game, game_name, game_ping_th in games %}
					<option value="{{ game }}">{{ game_ping_th }}</option>
					{% endfor %}
				</select></th>
			</tr>
			{% for cat, tchannels in channels %}
			{% if cat %}
			<tr><th colspan="2">{{ cat.name }}</th><td></td></tr>
			{% endif %}
			{% for channel in tchannels %}
			<tr>
				<td><div class="channel-name">
					{% if channel.voice %}
					<img src="/static/voice.svg" />
					{% else %}
					<img src="/static/text.svg" />
					{% endif %}
					<span>{{ channel.name }}</span>
				</div></td>
				<td><select
					onchange="save({ channels: { '{{ channel.id }}': { lang: this.value } } })"
				>
					{% for code, lang in langs.items() %}
					<option
						value="{{ code }}"
						{% if channel.lang == code %}
						selected
						{% endif %}
					>{{ lang }}</option>
					{% endfor %}
				</select></td>
				<td style="text-align: center">
					{% for game, game_name, game_ping_th in games %}
					<label
						data-game="{{ game }}" class="switch"
						{% if game != games[0][0] %}
						style="display: none;"
						{% endif %}
					>
						<input
							type="checkbox"
							value="{{ channel.id }}"
							onchange="channel_ping(this, '{{ game }}')"
							{% if game in channel_games[channel.id] %}
							checked
							{% endif %}
						/>
						<span></span>
					</label>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
			{% endfor %}
		</table>
		<div>
		<table width="100%">
			<tr><th colspan="2">{{ censor_th|safe }}</th></tr>
			<tr>
				<td><textarea id="censor">{{ censor }}</textarea></td>
				<td><button
					onclick="save({ words_censor: document.querySelector('#censor').value })"
				>{{ save }}</button></td>
			</tr>
		</table>
		</div>
	</div>
{% endblock body %}
