{% extends "base.jinja2" %}

{% block title %}
{{ title }} - {{ super() }}
{% endblock title %}

{% block body %}
	<h1>{{ title }}</h1>
	<form method="POST" autocomplete="off">
		<p class="spread">
			<label for="lang">{{ language }}</label>
			<select id="lang" name="lang">
				{% for code, name in langs.items() %}
				<option
					value="{{ code }}"
					{% if code == lang %}
					selected
					{% endif %}
				>{{ name }}</option>
				{% endfor %}
			</select>
		</p>
		<p class="spread">
			<button type="submit">{{ save }}</button>
			<a href="/" class="button">{{ back }}</a>
		</p>
	</form>
{% endblock body %}
