body {
	background-color: #34383c;
	font-family: 'Consolas', 'Courier New', 'Courier', monospace;
	color: #dcddde;
	text-rendering: optimizeLegibility;
	margin: 0;
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.center.fill {
	height: 100vh;
}
