body {
	background-color: #34383c;
	font-family: 'Consolas', 'Courier New', 'Courier', monospace;
	color: #dcddde;
	text-rendering: optimizeLegibility;
	margin: 0;
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.center.fill {
	height: 100vh;
}

a.button {
	display: inline-block;
	background-color: #62d3f5;
	outline: none;
	padding: 15px 25px;
	color: #000;
	font-size: 1.2rem;
	border-radius: 5px;
	text-decoration: none;
}
