body {
	background-color: #34383c;
	background-image: url('Abyx-faded.png');
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
	font-family: 'Consolas', 'Courier New', 'Courier', monospace;
	color: #dcddde;
	text-rendering: optimizeLegibility;
	margin: 0;
}

h1 {
	font-size: 3em;
	text-align: center;
}

.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}

/* class for centering */
.center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* center and fill height */
.center.fill {
	min-height: 100vh;
}

/* spread elements horizontally */
.spread {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}
.spread > * {
	margin: 0 1em;
}
.spread.wrap {
	flex-wrap: wrap;
	row-gap: 1.5em;
}

/* button styling */
a.button, button {
	display: inline-block;
	background-color: #62d3f5;
	outline: none;
	padding: 0.6em 1em;
	color: #000;
	font-size: 1.2rem;
	border-radius: 5px;
	text-decoration: none;
}

code {
	color: #fff;
	background-color: #2f3136;
	border-radius: 3px;
	padding: .2em;
	margin: -.2em 0;
}

/* input styling */
input[type=text], textarea, select {
	color: #fff;
	border: 1px solid #1a1a1a;
	background-color: #2b2f33;
	border-radius: 5px;
	padding: 8px;
	outline: none;
	transition: border 250ms ease-out;
}
input[type=text], textarea {
	width: max-content;
}
textarea {
	resize: vertical;
}
input[type=text]:hover,
textarea:hover,
select:hover,
input[type=text]:focus,
textarea:focus,
select:focus {
	border-color: #000;
}
