/* Styling specific to /servers */

#servers-list {
	align-items: flex-start;
	max-width: 900px;
}

/* guild icon */
a.guild {
	text-decoration: none;
	color: #fff;
}
.guild > span {
	display: flex;
	max-width: 128px;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
}
.guild img, .guild span .acronym {
	border-radius: 50%;
	transition: 0.1s ease;
	width: 64px;
	height: 64px;
}
.guild img.no-shadow {
	box-shadow: none;
}
.guild span .name {
	text-decoration: none;
	margin-top: 0.5rem;
}
.guild span .acronym {
	display: inline-block;
	/* box-shadow: 0 0 16px #fff; */
	border: 1px solid #fff;
	line-height: 64px;
	font-size: 1.5rem;
}
.guild:hover span .name {
	text-decoration: underline;
}
.guild:hover img, .guild:hover span .acronym {
	border-radius: 30%;
}
